fastapi
uvicorn[standard]
sqlalchemy>=2.0
aiosqlite
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
aiokafka
redis
boto3
python-multipart
asyncpg==0.29.0
httpx
strawberry-graphql[fastapi]
aiofiles
jinja2
livekit-api
